*{
    box-sizing: content-box;
}
:root{
    --frame-border-size: 0.2rem;
    --frame-height: 2rem;
    --frame-width: 9rem;
}
body{
    color: rgb(83, 98, 93);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-direction: column;
}
.container{
    width: 540px;
    height: 250px;
}
.card{
    width: 540px;
    height: 250px;
    position: relative;
    transition: transform 1100ms;
    transform-style: preserve-3d;
}
.container:hover > .card {
    transform:rotateX(180deg)
}
.front{
    border: var(--frame-border-size) solid rgb(29, 25, 22);
    position: absolute;
    height: 250px;
    width: 540px;
    margin: 0;
    border-radius: 12px;
    background-image: url("background.jpg");
    background-size: 540px;
    background-repeat: no-repeat;
    
}
footer{
    margin-top: 12rem;
    display: flex;
    padding-left: 0.3rem;
    max-height: 30px;
    flex-direction: row;
    justify-content:flex-start;
    align-content: center;
    gap:0;
    font:bolder;
    color: #d49d36;
    text-decoration: underline;
    font-family: 'Great Vibes', cursive;
    font-size: x-large;
}
.front > .h1{
    opacity: 1;
    font-size: x-large;
    font-weight: 400;
}
.back{
    border: var(--frame-border-size) solid rgb(29, 25, 22);
    position: absolute;
    height: 250px;
    width: 540px;
    margin: 0;
    border-radius: 12px;
    background:linear-gradient(black,#d49d36);
    transform: rotateX(180deg);
    color: rgb(195, 193, 192);
}
.header{
    font-family: 'Great Vibes', cursive;
    margin-left: 0.5rem;
}
.email:not(.fa-sharp .fa-solid .fa-envelope):hover{
    background-color: black;
}.phone:not(.fa-sharp .fa-solid .fa-phone):hover{
    background-color: black;
}
.email, .phone{
    width: 20px;
}

.contacts{
    display: flex;
    flex-direction: row;
    justify-content:flex-end;
    align-content: flex-start;
    color: #d49d36;
    border-radius: 8px;
    height: auto;
}
.text{
    padding: .2rem;
}
.front,
.back{
    backface-visibility: hidden;
}